.container .close {
    padding: 2px 7px;
    color: #fff;
    background: #b00;
    font-family: verdana, serif;
    cursor: pointer;
    float: right;
}
.container .task {
    padding: 8px;
    border: 1px dotted #ccc;
    width: auto;
}
.container > div {
    width: 40%;
    margin: 0 30%;
    border-bottom: 1px solid #fa0;
    padding: 10px;
}
.container .addTask,.container .addTaskButton {
    width: 40%;
}
.container .error {
    display: none;
}
.container .error.visible {
    display: block;
    text-align: center;
    border: 1px dashed #e17;
}