.close {
    padding: 2px 7px;
    color: #fff;
    background: #b00;
    font-family: verdana, serif;
    cursor: pointer;
    float: right;
}
.task {
    padding: 8px;
    border: 1px dotted #ccc;
    width: auto;
}
#main form {
    width: 40%;
    margin: 0 30%;
}
#addTask, #addTaskButton {
    width: 40%;
}
#error {
    display: none;
}
#error.visible {
    display: block;
    text-align: center;
    border: 1px dashed #e17;
}